/*!
  Theme: GitHub
  Description: Light theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-light
  Current colors taken from GitHub's CSS
*/

.hljs {
  color: var(--fgColor-default);
  background: var(--bgColor-default);
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  /* prettylights-syntax-keyword */
  color: var(--color-prettylights-syntax-keyword);
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  /* prettylights-syntax-entity */
  color: var(--color-prettylights-syntax-entity);
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
  /* prettylights-syntax-constant */
  color: var(--color-prettylights-syntax-constant);
}

.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
  /* prettylights-syntax-string */
  color: var(--color-prettylights-syntax-string);
}

.hljs-built_in,
.hljs-symbol {
  /* prettylights-syntax-variable */
  color: var(--color-prettylights-syntax-variable);
}

.hljs-comment,
.hljs-code,
.hljs-formula {
  /* prettylights-syntax-comment */
  color: var(--color-prettylights-syntax-comment);
}

.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
  /* prettylights-syntax-entity-tag */
  color: var(--color-prettylights-syntax-entity-tag);
}

.hljs-subst {
  /* prettylights-syntax-storage-modifier-import */
  color: var(--color-prettylights-syntax-storage-modifier-import);
}

.hljs-section {
  /* prettylights-syntax-markup-heading */
  color: var(--color-prettylights-syntax-markup-heading);
  font-weight: bold;
}

.hljs-bullet {
  /* prettylights-syntax-markup-list */
  color: var(--color-prettylights-syntax-markup-list);
}

.hljs-emphasis {
  /* prettylights-syntax-markup-italic */
  color: var(--color-prettylights-syntax-markup-italic);
  font-style: italic;
}

.hljs-strong {
  /* prettylights-syntax-markup-bold */
  color: var(--color-prettylights-syntax-markup-bold);
  font-weight: bold;
}

.hljs-addition {
  /* prettylights-syntax-markup-inserted */
  color: var(--color-prettylights-syntax-entity-tag);
  background-color: var(--color-prettylights-syntax-markup-inserted-bg);
}

.hljs-deletion {
  /* prettylights-syntax-markup-deleted */
  color: var(--fgColor-danger);
  background-color: var(--color-prettylights-syntax-markup-deleted-bg);
}

.hljs-char.escape_,
.hljs-link,
.hljs-params,
.hljs-property,
.hljs-punctuation,
.hljs-tag {
  /* purposely ignored */
}
